.header {
  height: 100px;
  margin: 0 0 20px 0;

  &__top {
    background: #33c2d9;
    height: 50px;
  }

  &__bot {
    background: #ffffff;
    height: 50px;
  }
}

.widget-container {
  background: #ffffff;
  height: auto;
  margin: 0 auto;
  width: 70%;
}
